
# This is a Klipper configuration for Qidi X-Max, with
# V4.9.1 motherboard. Based on printer.cfg for X-Max by Funkton.

#            === FIRMWARE BUILD ===
# 1. Enable extra low-level configuration options checkbox
# 2. Set MCU type to STMicroelectronics STM32
# 3. Choose processor model STM32F407
# 4. Set No bootloader option
# 5. For serial connection Uncheck USB, and leave default serial settings, USART1.
#    For USB option check box and leave defaults
# 6. For serial connection set Baud rate to 115200 (or adapter proferred). This value must match baud rate in printer.cfg file
# 7. Set (PE0, !PG10) as GPIO pins to set at startup. PE0 keeps on the power module and !PG10 turns on the board LED
# 8. Save changes and use make to build firmware.
# 9. Connect ST-LINK to mainboard SWD header and flash firmware.bin directly into user memory at 0x8000000

[include mainsail.cfg]
[include shell_command.cfg]
[include printer_buddy/printer_buddy.cfg]
# [include macros.cfg]
[include ebb42.cfg]

[gcode_arcs]
resolution: 0.1 # Optional: Change to a lower value for finer arcs, but use more processing power. Default is 1mm.

[mcu]
restart_method: command
serial: /dev/ttyS0

baud: 115200
# setup for PA9, PA10 USART1_tx / rx directly connected to the RPI GPIO TX / RX pins
# only connect GND, TX, RX - supply 5v power to the RPI separately
# cross over TX/RX
# Use "sudo raspi-config" to disable the serial terminal - but enable the serial port.
# Alternatively you can use the USB port for connection. USB port will require an A to A style cable.


[virtual_sdcard]
path: /home/teola/printer_data/gcodes
on_error_gcode: CANCEL_PRINT


[input_shaper]  			
shaper_type_x: mzv
shaper_freq_x: 44.8
damping_ratio_x:0.077
shaper_type_y: mzv
shaper_freq_y: 42.4
damping_ratio_y: 0.055

[printer]
kinematics: cartesian
max_velocity: 400
max_accel: 7000		        
max_z_velocity: 12
max_z_accel: 15
square_corner_velocity: 5.0

[stepper_x]

step_pin: PE5
dir_pin: PF1
enable_pin: !PF0
microsteps: 16
rotation_distance: 34 
endstop_pin: !PC15
position_endstop: 285
position_min: 0
position_max: 285
homing_retract_dist: 10
homing_speed: 30
second_homing_speed: 10

[stepper_y]
step_pin: PF9
dir_pin: PF3
enable_pin: !PF5
microsteps: 16
rotation_distance: 34
endstop_pin: !PC14
position_endstop: 230
position_max: 230
homing_retract_dist: 10
homing_speed: 30
second_homing_speed: 10

[stepper_z]
step_pin: PA6
dir_pin: PF15
enable_pin: !PA5
microsteps: 16
rotation_distance: 7.9672
endstop_pin: !PC13
position_endstop: 301.5			
position_max: 301.5			
position_min: -0.50
homing_retract_dist: 5
homing_speed: 12
second_homing_speed: 1

[stepper_z1]
step_pin: PD12
dir_pin: PG4
enable_pin: !PG5
microsteps: 16
rotation_distance: 8
endstop_pin: !PE6

# [extruder]
# step_pin: PB1
# dir_pin: !PF13
# enable_pin: !PF14
# microsteps: 16
# rotation_distance: 33
# nozzle_diameter: 0.400
# filament_diameter: 1.750
# heater_pin: PG0
# sensor_type: MAX6675
# sensor_pin: PD13
# spi_speed: 4000000
# spi_bus: spi2
# control: pid
# pid_Kp:23.976
# pid_Ki:1.012
# pid_Kd:142.058
# min_extrude_temp: 170
# min_temp: 0
# max_temp: 320
# max_extrude_only_distance: 300


[heater_bed]
heater_pin: !PB2
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC2
control: pid
pid_kp = 76.739
pid_ki = 1.740
pid_kd = 846.044
min_temp: 0
max_temp: 120

[bed_screws]
screw1: 10,10
screw2: 290,10
screw3: 150,240


# [heater_fan hotend_fan]
# pin: PB6
# fan_speed: 1.0
# heater: extruder
# heater_temp: 70.0

# [fan]
# pin: PD7
# max_power: 1
# off_below: 0.1


###############################################################
# Enclosure
###############################################################
# LED strip output
[output_pin caselight]                                   # Valid config section name (Issue with the capitel letters)
pin: PF10                                                # PF10(142) pin connected to Q3 gate to the LED strip
pwm: True                                              # to let the brigtness adjustable
value: 10                                                 # Initial value on powerup
shutdown_value: 0                                        # Disable it at emergency shutdown
cycle_time: 0.0083                                     # PWM frequency : 0.0083s 120Hz
scale: 10                                              # Adjust the brightness in 10 steps

# Chamber Fan
[fan_generic chamber_fan]                                # Setup Manually controlled fan. The two extractor fan at the back of the machine
pin: PG7                                                 # PG7(92) pin connected to Q11 gate to the Circulating Chamber Fans.
max_power: 1                                             # The maximum power (expressed as a value from 0.0 to 1.0) that the pin may be set to.
off_below: 0                                             # The minimum input speed which will power the fan

######################################################################
# Beeper
######################################################################

# M300 : Play tone.
#   Usage:
#   M300 [P<ms>] [S<vol>]
#   P is the tone duration, S the tone volume.\

[output_pin beeper]
pin: PA8

pwm: True
#   A piezo beeper needs a PWM signal, a DC buzzer doesn't.
value: 0
#   Silent at power on, set to 1 if active low.
shutdown_value: 0
#   Disable at emergency shutdown (no PWM would be available anyway).
cycle_time: 0.001
#   PWM frequency : 0.001 = 1ms will give a base tone of 1kHz
scale: 255
#   Sets volume (not pitch)
#   Although not pitch perfect.


######################################################################
# Power
######################################################################
# M4003 : Turn off (same as Qidi stock code)

[output_pin system_power]
pin: PE0

value: 1
#   The value to initially set the pin to during MCU configuration.
#   The default is 0 (for low voltage).
shutdown_value: 1
#   The value to set the pin to on an MCU shutdown event. The default
#   is 0 (for low voltage).

[gcode_macro M4003]
gcode:
    SET_PIN PIN=system_power VALUE=0

# Setup power button input    
[gcode_button pwr_button]
pin: PE1
press_gcode: SET_PIN PIN=system_power VALUE=0

######################################################################
# Additional temp sensors
######################################################################
[temperature_sensor QidiCpu]
sensor_type: temperature_mcu

[temperature_sensor RaspiCpu]
sensor_type: temperature_host
sensor_path: /sys/class/thermal/thermal_zone0/temp


######################################################################
# Filament Rounout - BIGTREETECH SFS V2.0
######################################################################
# [filament_switch_sensor switch_sensor]
# switch_pin: gpio_xx
# pause_on_runout: False
# runout_gcode:
#   PAUSE # [pause_resume] is required in printer.cfg
#   M117 Filament switch runout
# insert_gcode:
#   M117 Filament switch inserted

# [filament_motion_sensor encoder_sensor]
# switch_pin: gpio_xx
# detection_length: 2.88
# extruder: extruder
# pause_on_runout: False
# runout_gcode:
#   PAUSE # [pause_resume] is required in printer.cfg
#   M117 Filament encoder runout
# insert_gcode:
#   M117 Filament encoder inserted


[bed_mesh]
speed: 120
horizontal_move_z: 5
mesh_min: 35, 6
mesh_max: 240, 198
probe_count: 5, 3
mesh_pps: 2, 3
algorithm: bicubic
bicubic_tension: 0.2

